@charset "utf-8";

body {
    background-color: #344699;
    position: relative;
    margin: 0 auto;
}

/* ヘッダー */

.header_menu {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    justify-content: right;
    gap: 40px;
    align-items: baseline;
}

a:hover {
    color: #ff7041;
}

.conect {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #f4f2ef;
    background-color: #ff7041;
    width: 172px;
    height: 47px;
    border-radius: 23.5px;
    margin: 20px 20px 0 0;
    border: none;
	cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conect:hover a {
    background-color: #f4f2ef;
    color: #ff7041;
}
.conect:hover {
    background-color: #f4f2ef;
}


/****** メインビジュアル ******/

h1 {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 90px;
    -webkit-text-stroke: 0.5px #f4f2ef;
}
.sp_br {
    display: none; /*767px以上では改行タグを無効に。*/
  }  

.home {
    max-width: 1110px;
    padding-top: 60px;
    margin: 0 auto;
}

.title_desing{
    padding-left: 30px;
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 90px;
    -webkit-text-stroke: 0.5px #f4f2ef;
}

.title_feeling {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 90px;
    -webkit-text-stroke: 0.5px #f4f2ef;
    padding-left: 100px;
}

.main_title {
    color: #ff7041;
    font-size: 140px;
    background-color: #f4f2ef;
    width: 95%;
    height: 202px;
    border: solid 3px #ff7041;
    box-shadow: 7px 7px 0px 0 #ff7041;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin: 0 auto;
}
.main_title:hover {
    transform: translateY(4px);
    box-shadow: none;
}
.main_title a {
    text-align: center;
}

.title_idea {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 90px;
    -webkit-text-stroke: 0.5px #f4f2ef;
    padding: 15px 0 0 265px;
}

.title_thinking {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 90px;
    -webkit-text-stroke: 0.5px #f4f2ef;
    padding-left: 365px;
}


.kira_orn_solid {
    width: 110px;
    position: absolute;
    top: 180px;
    right: 133px;
    animation: anime1 1s ease 0s infinite alternate;
    transform-origin:center;
  }
  @keyframes anime1 {
    from {
          transform: scale(0,0);
        }
    to {
          transform: scale(1,1);
        }
}
.kira_orn {
    width: 65px;
    position: absolute;
    top: 248px;
    right: 200px;    
    animation: anime2 2s ease 0s infinite alternate;
    transform-origin:center;
}
@keyframes anime2 {
    from {
          transform: scale(0,0);
        }
    to {
          transform: scale(1,1);
        }
}

.kira_orn_2 {
    width: 60px;
    position: absolute;
    top: 588px;
    left: 250px;   
    animation: anime2 1s ease 0s infinite alternate;
    transform-origin:center;
}
@keyframes anime2 {
    from {
          transform: scale(1,1);
        }
    to {
          transform: scale(0,0);
        }
}


.kira_wh {
    width: 45px;
    position: absolute;
    top: 220px;
    right: 255px;
    animation: anime2 1s ease 0s infinite alternate;
    transform-origin:center;
}
@keyframes anime2 {
    from {
          transform: scale(0,0);
        }
    to {
          transform: scale(1,1);
        }
}

.kira_wh_solid {
    width: 130px;
    position: absolute;
    top: 512px;
    left: 166px;
    animation: anime2 2s ease 0s infinite alternate;
    transform-origin:center;
}
@keyframes anime2 {
    from {
          transform: scale(0,0);
        }
    to {
          transform: scale(1,1);
        }
}


.kira_wh_sp,
.kira_orn_solid_sp,
.kira_orn_sp,
.kira_wh_solid_sp {
    display: none;
}


/* top-about */

.about_top {
    position: relative;
    width: 63%;
    padding-left: 500px;
}

.toge_top {
    width: 100%;
    position: relative;
    padding-top: 170px;
}

.about_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5%,-45%);
    text-align: center;
}

h2 {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    z-index: 1000;

}

.sub_good {
    font-size: 65px;
    color: #f4f2ef;
    -webkit-text-stroke: 1px #344699;
    text-shadow: 5px 5px 0 #344699;
    padding-top: 100px;
}

.sub_about {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 88px;
    padding-bottom: 20px;

}

.name {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #344699;
    font-size: 53px;
    padding-bottom: 30px;

}

.about_top_text p {
    width: 550px;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #344699;
    line-height: 1.35;
    padding-top: 25px;
}

.about_btn {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

.viewmore {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    color: #f4f2ef;
    background-color: #ff7041;
    width: 176px;
    height: 47px;
    border-radius: 23.5px;
    border: none;
    position: relative;
    line-height: 44px;
}
.viewmore:hover {
    background-color: #f4f2ef;
    border: #ff7041 solid 1px;
}
.viewmore:hover .arrow {
    color: #ff7041;
}
.viewmore:hover .arrow::after {
    border-color: #ff7041;
}


.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 0.3em;   /* arrow size */
    height: 0.3em;  /* arrow size */
    border-top: 2px solid #f4f2ef;
    border-right: 2px solid #f4f2ef;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 13px;
}
  

.about_top_photo {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-114%,-200%);
}

/* top-SKILL */

.skill {
    max-width: 1200px;
    padding-top: 95px;
    text-align: center;
    margin: auto;
}

.sub_good_skill {
    font-size: 65px;
    color: #344699;
    -webkit-text-stroke: 1px #f4f2ef;
    text-shadow: 5px 5px 0 #f4f2ef;

}

.sub_skill {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #f4f2ef;
    font-size: 88px;
    padding-bottom: 65px;
}

.skill_img {
    position: relative;
}

@keyframes naminami {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }

.naminami {
    width: 259px;
    animation: naminami 10s infinite linear;
    transform-origin: center center; 
}

.desing{
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.coding {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.movie {
    width: 36%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.skill_title {
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    padding: 30px 0 18px 0;
}

.skill_text {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #f4f2ef;
    font-size: 17px;
    text-align: left;
    width: 337px;
    line-height: 1.35;
}

.skill_content {
    display: flex;
    justify-content: space-between;
}




.switching {
    display: flex;
    justify-content: center;
}

.kira_switching {
    width: 38px;
    padding-top: 80px;
}

/* top-WORKS */

.works_top {
    position: relative;
    text-align: center;
}

.works_contens {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-250%);
    text-align: center;
}

.moku_top {
    width: 100%;
    padding-top: 90px;
}

.sub_good_works {
    font-size: 65px;
    color: #f4f2ef;
    -webkit-text-stroke: 1px #344699;
    text-shadow: 5px 5px 0 #344699;
}

.sub_works {
    font-size: 88px;
    padding-bottom: 50px;
}

.works_img {
    width: 463px;
    display: flex;
    position: absolute;
    padding-top: 100px;
    gap: 100px;
    justify-content: center;
}

.works_img > img{
    width: 100%;
    border-radius: 70px;

}

.works_btn {
    position: absolute;
    top: 85%;
    right: 20%;
}
.viewmore {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    color: #f4f2ef;
    background-color: #ff7041;
    width: 176px;
    height: 47px;
    border-radius: 23.5px;
    border: none;
    position: relative;
    line-height: 44px;
    display: block;
}
.viewmore:hover {
    background-color: #f4f2ef;
    border: #ff7041 solid 1px;
}
.viewmore:hover .arrow {
    color: #ff7041;
}
.viewmore:hover .arrow::after {
    border-color: #ff7041;
}
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 0.3em;   
    height: 0.3em; 
    border-top: 2px solid #f4f2ef;
    border-right: 2px solid #f4f2ef;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 13px;
}



/* top-CONTACT */
.contact_top_text {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #f4f2ef;
    font-size: 25px;
    padding-top: 110px;
    text-align: center;
    line-height: 1.2;
}

.contact_btn {
    position: relative;
    text-align: center;
}

.contact_bg {
    width: 30%;
    padding: 40px;
    position: relative;
}

.contact_top {
    text-align: center;
}

.contact_contens {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-57%);
}

.contact_good {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #f4f2ef;
    font-size: 56px;
}

.contact {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #f4f2ef;
    font-size: 70px;
}

.good_conect {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #f4f2ef;
    background-color: #ff7041;
    width: 352px;
    height: 135px;
    border-radius: 23.5px;
    border: none;
    position: relative;
    padding-bottom: 7px;
}
.good_conect:hover {
    transform: translateY(4px);
    box-shadow: none;
}




.kira_wh_solid_con {
    width: 80px;
    position: absolute;
    left: 360px;
    bottom: 300px;
}

.kira_orn_con {
    width: 48px;
    position: absolute;
    left: 420px;
    bottom: 275px;
}

.kira_wh_con {
    width: 43px;
    position: absolute;
    right: 420px;
    bottom: 200px;
}

.kira_orn_solid_con {
    width: 72px;
    position: absolute;
    right: 360px;
    bottom: 150px;
}

/* フッター */

.footer_menu {
    background-color: #f4f2ef;
    width: 100%;
    height: 87px;
    bottom: 0;
    display: flex;
    gap: 44px;
    align-items: center;
    padding-left: 50px;
}

.footer_item {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    color: #344699;
    font-size: 17px;
}




.header_menu_sub {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    justify-content: right;
    gap: 40px;
    align-items: baseline;
    position: sticky;
    top: 0;
    padding-bottom: 18px;
}



/******* about ******/

.about_title {
    width: 100%;
    height: 845px;
    background-color: #f4f2ef;
    position: relative;
    text-align: center;
}

.sub_good_2 {
    font-size: 65px;
    color: #f4f2ef;
    -webkit-text-stroke: 1px #344699;
    text-shadow: 5px 5px 0 #344699;
    padding-top: 44px;
}

.sub_about_2 {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 88px;
    padding-bottom: 74px;
}

.concept {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #f4f2ef;
    font-size: 110px;
    z-index: 2000;
    position: absolute;
    transform: translate(-147%,-389%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.blue_toge {
    width: 39%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-108%,-205%);
    z-index: 1000;
}

.about_text p {
    width: 550px;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    font-size: 20px;
    line-height: 1.75;
    position: absolute;
    top: 13%;
    left: 50%;
}

.about_text_2 {
    padding-top: 370px;
}

.about_text_3 {
    padding-top: 420px;
}

.about_myphoto {
    width: 27%;
    height: 498px;
    padding: 75px 0 75px 0;
}

.about_prf {
    display: flex;
    justify-content: center;
    gap: 110px;
}

.name_ja {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    padding-top: 190px;
}

.name_en {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    padding: 10px 0 38px 0;
}

.prf_contens {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
}

.prf_me {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 115px;
    background-color: #f4f2ef;
    width: 100%;
    height: 787px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 140px;
}

.prf_me_contens {
    display: flex;
    gap: 50px;
}


.me_dog {
    padding-bottom: 50px;
    overflow: hidden;
    cursor: pointer;
}
.me_dog > img {
    width: 30%;
    position: absolute;
    transition: all 0.2s ease;
    transform: translateX(-50%);
    transition: .4s ease-in-out;
}
.caption {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15%;
    margin: 0 auto;
    text-align: center;
    color: #f4f2ef;
}
.me_dog img:SVG/hover_dog_1.svg {
	top: -100%;
}
.me_dog:hover  img:SVG/hover_dog_1.svg {
    top: 50%;
}



.me_plant {
    width: 283px;
    height: 257px;
    padding-top: 50px;
}

.prf_me_contens_2 {
    display: flex;
    gap: 60px;
}

.me_emb {
    width: 275px;
    height: 285px;
    padding-bottom: 50px;
}

.me_music {
    width: 271px;
    height: 248px;
    padding-top: 50px;
}



.footer_menu_2 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 44px;
    align-items: center;
    padding-bottom: 12px;
}

.footer_item_2 {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    color: #f4f2ef;
    font-size: 17px;
}



/****** WORKS ******/
.works {
    width: 100%;
    background-color: #f4f2ef;
}

.works_main {
    text-align: center;
    padding: 58px;
}

.works_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

.works_thumbnail > img {
    width: 100%;
    border-radius: 10%;
}
a {
    text-decoration: none;
    color: inherit;
}
.works_thumbnail {
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.2s;
    box-sizing: border-box;
}
.works_mask {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: rgba(41, 98, 205, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.works_mask:hover {
    opacity: 1;
    transition-delay: 0.3s;
}



.works_detail {
    width: 30%;
}

.works_sub {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    font-size: 18px;
    border-right: #344699 solid 0.5px;
    padding: 0 10px 5px 10px;
}

.works_sub_2 {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    font-size: 18px;
    padding-left: 10px;
}

.works_text {
    display: flex;
    padding-top: 18px;
}


.works_title {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    color: #344699;
    padding: 10px;
}


/**** works詳細 ****/
.works_detail_contens {
    text-align: center;
}
.works_contens_title {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    color: #344699;
    font-size: 54px;
}
.works_contens_thumbnail > img {
    width: 800px;
    border-radius: 86px;
}
.works_detail_text {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    font-size: 18px;
    padding: 80px 0 30px 0;
    line-height: 1.65;
}
.works_detail_text_2 {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    font-size: 18px;
    padding-bottom: 80px;
    line-height: 1.65;
}
.works_detail_sub {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    font-size: 18px;
    text-align: left;
    padding-left: 350px;
}
h3.works_contens_title {
    text-align: left;
    padding: 0 0 20px 350px;
}
.detail_works {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    display: flex;
    align-items: center;
    gap: 100px;
    border-bottom: solid 1px #344699;
    padding: 20px 0 20px 0;
    max-width: 550px;
    margin: 0 auto;
    text-align: start;
}
.detail_box {
    background-color: #344699;
    width: 145px;
    height: 45px;
    color: #f4f2ef;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p.detail_box_contens {
    color: #344699;
    font-size: 20px;
    line-height: 1.6;
}
.pf_img {
    padding: 90px 0 30px 0; 
}
.pf_pc {
    width: 50%;
    border-radius: 63px;
    vertical-align: top;
    padding: 30px;
}
.pf_sp {
    width: 30%;
    border-radius: 57px;
    padding: 30px;
}
.back_btn {
    padding: 75px;
}
.back_btn > a {
    font-family: "dela-gothic-one", sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 17px;
	color: #344699;
	background-color: #f4f2ef;
	border: solid 1px #344699;
	border-radius: 17px;
	padding: 20px 30px;
	transition: 0.4s;
	cursor: pointer;
    box-shadow: 3px 3px #344699;
}


/******* contact *******/
form {
    max-width: 670px;
    margin: 0 auto;
}
.contact_title {
    background-color: #f4f2ef;
    width: 100%;
    text-align: center;
}

.contact_text {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    font-size: 20px;
    line-height: 1.35;
    padding: 50px 0 70px 0;
}
.contact_text_completed {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    font-size: 20px;
    line-height: 1.35;
    padding: 50px 0 70px 0;
}
span.label_name,
.label_co,
.label_mail,
.label_message {
    display: flex;
    flex-direction: column;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}
.input_form .label_name::after {
    content: "NAME";
    font-size: 17px;
    padding-top: 6px;
}
.input_form .label_co::after {
    content: "COMPANY NAME";
    font-size: 17px;
    padding-top: 6px;
}
.input_form .label_mail::after {
    content: "MAIL ADDRESS";
    font-size: 17px;
    padding-top: 6px;
}
.input_form .label_message::after {
    content: "MESSAGE";
    font-size: 17px;
    padding-top: 6px;
}



.c_form {
    max-width: 690px;
    margin: 0 auto;
}

.c_form_item {
	display: flex;
	margin-bottom: 30px;
    color: #344699;
    font-size: 22px;
    text-align: left;
}

.c_form_label,
.c_form_input {
	padding: 10px;
}
.c_form_label {
	width: 70%;
    display: flex;
    align-items: flex-start;
}
.c_form_input {
	width: 90%;
	font-size: 17px;
	border: solid 1px #344699;
	border-radius: 4px;
}
.c_form_input:focus-visible {
	outline: #344699 auto 1px;
}
.c_form_required {
	color: #f4f2ef;
	background-color: #344699;
	border-radius: 5px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
    font-size: 13px;
}
textarea.c_form_input {
	height: 160px;
}
.c_form_submit {
	text-align: center;
    margin-top: 50px;
}
.c_form_submit button {
    font-family: "dela-gothic-one", sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 23px;
	color: #344699;
	background-color: #f4f2ef;
	border: solid 1px #344699;
	border-radius: 10px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
    box-shadow: 3px 3px #344699;
    position: relative;
}
.c_arrow::after{
    position: absolute;
    top: 50%;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 0.3em;   /* arrow size */
    height: 0.3em;  /* arrow size */
    border-top: 2px solid #344699;
    border-right: 2px solid #344699;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-50%);
}

.footer_menu_3 {
    background-color: #344699;
    width: 100%;
    height: 87px;
    bottom: 0;
    display: flex;
    justify-content: left;
    gap: 44px;
    align-items: center;
    padding-left: 50px;
}


.thanks_text {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 0.9;
    position: relative;
    z-index: 1000;
    padding: 70px;
}

.thankyou {
    color: #344699;
}
.verymuch {
    color: #f4f2ef;
    text-shadow:1px 1px 0 #334699, -1px -1px 0 #334699,
                -1px 1px 0 #334699, 1px -1px 0 #334699,
                0px 1px 0 #334699,  0-1px 0 #334699,
                -1px 0 0 #334699, 1px 0 0 #334699;
}
.circle {
    width: 600px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    z-index: -1000;
}
.c_form_submit_2 {
	text-align: center;
}
.c_form_submit_2 button {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
	font-size: 20px;
	color: #344699;
	background-color: #f4f2ef;
	border: solid 1px #344699;
	border-radius: 10px;
	padding: 8px 23px;
	transition: 0.4s;
	cursor: pointer;
    box-shadow: 3px 3px #344699;
}
.kira_orn_solid_thx {
    width: 110px;
    position: absolute;
    top: 60px;
    left: 380px;
}
.kira_orn_thx {
    width: 65px;
    position: absolute;
    top: 142px;
    left: 450px;
}
.kira_orn_solid_thx_r {
    width: 55px;
    position: absolute;
    top: 260px;
    right: 395px;
}
.kira_orn_thx_r {
    width: 95px;
    position: absolute;
    top: 275px;
    right: 440px;
}
.c_form_item_conf {
	display: flex;
	margin-bottom: 30px;
    color: #344699;
    font-size: 22px;
}
.c_form_label_conf {
    width: 45%;
    padding: 15px;
    color: #f4f2ef;
    border: solid 1px #334699;
    background-color: #344699;
    text-align: center;
    border-radius: 15px 0 0 15px;
}
.corr_btn {
    font-family: "dela-gothic-one", sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 16px;
	color: #344699;
	background-color: #f4f2ef;
	border: solid 1px #344699;
	border-radius: 10px;
	padding: 10px 33px;
	transition: 0.4s;
	cursor: pointer;
    box-shadow: 5px 5px #344699;
    position: relative;
}
.c_arrow_left::after {
    position: absolute;
    top: 44%;
    left: 22%;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 0.3em;   /* arrow size */
    height: 0.3em;  /* arrow size */
    border-top: 2px solid #344699;
    border-right: 2px solid #344699;
    -webkit-transform: rotate(45deg);
    transform: rotate(-135deg) translateY(-50%);
}
.send_btn {
    font-family: "dela-gothic-one", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #344699;
    background-color: #f4f2ef;
    border: solid 1px #344699;
    border-radius: 13px;
    padding: 15px 34px;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 5px 5px #344699;
    position: relative;
}
.confirm_form,
.completed_form {
    display: none;
}
.confirm_form input,
.confirm_form textarea {
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
  padding-left: 30px;
}

.confirm_form input:focus,
.confirm_form textarea:focus {
  outline: none;
}

.confirm_form .form_group:not(.message) {
  align-items: center;
}

.confirm_form label {
  margin: 0;
}

.confirm_form textarea {
  resize: none;
}

.confirm_form .button_wrap {
  display: flex;
  margin: 100px;
  gap: 60px;
}
.contact_title.completed_form {
    margin-bottom: 100px;
}

@media screen and (max-width: 892px) {
    .main_title {
        width: 80%;
        height: 300px;
    }
}

@media screen and (max-width: 767px) {
    .sp_br {
        display: block; /*767px未満で改行タグを有効に。*/
      }
      .title {
        display: inline-block;
        text-align: center;
    }
    .main_title {
        width: 80%;
        height: 300px;
        margin-bottom: 30px;
    }
    .title_desing{
        padding: 24px 160px 30px 0;
    }
    .title_feeling {
        padding: 0 0 30px 240px;
    }
    .title_idea {
        width: 50%;
        padding: 0;
    }
    .title_thinking {
        padding-left: 255px;
    }
    .kira_wh_solid {
        top: 370px;
        left: 55px;
    }
    .kira_orn_2 {
        top: 460px;
        left: 140px;
    }
    .kira_wh_sp {
        display: block;
        width: 100px;
        position: absolute;
        top: 16%;
        left: 60%;
    }
    .kira_orn_solid_sp {
        display: block;
        width: 50px;
        position: absolute;
        top: 17.5%;
        left: 70%;
    }
    .kira_orn_sp {
        display: block;
        width: 90px;
        position: absolute;
        top: 19%;
        left: 8%;
    }
    .kira_wh_solid_sp {
        display: block;
        width: 45px;
        position: absolute;
        top: 20.5%;
        left: 18%;
    }

    .about_top {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .toge_top {
        width: 110%;
        padding-top: 600px;
    }
    .about_contents {
        transform: translate(-50%, -50%)
        } 
    .sub_good {
        -webkit-text-stroke: 1px #ff7041;
        text-shadow: 5px 5px 0 #ff7041;
        padding-top: 0;
    }
    .sub_about {
        color: #ff7041;
    }
    .about_top_photo {
        width: 45%;
        transform: translate(-50%, -270%);
    }
    .about_btn {
        display: flex;
        justify-content: center;
    }


    .skill_content {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .skill_text {
        display: inline-block;
    }
    .naminami {
        width: 400px;
    }
    .desing {
        width: 200px;
    }
    .coding {
        width: 200px;
    }
    .movie {
        width: 170px;
    }

    .works_contens {
        transform: translate(-50%, -120%);
    }

    .contact_bg {
        width: 55%;

    }
    .kira_wh_solid_con {
        left: 55px;
        bottom: 270px;
    }
    .kira_orn_con {
        left: 125px;
        bottom: 249px;
    }
    .kira_wh_con {
        right: 114px;
        bottom: 156px;
    }
    .kira_orn_solid_con {
        right: 44px;
        bottom: 108px;
    }
}