@charset "utf-8";

body {
    max-width: 1336px;
    background-color: #344699;
    position: relative;
    margin: 0 auto;
}

/* ヘッダー */

.header_menu {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    justify-content: right;
    gap: 40px;
    align-items: baseline;
}

.conect {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    background-color: #ff7041;
    width: 172px;
    height: 47px;
    border-radius: 23.5px;
    margin: 20px 20px 0 0;
    border: none;
}

/* メインビジュアル */

h1 {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 90px;
    -webkit-text-stroke: 0.5px #f4f2ef;
}

.title_desing{
    padding: 0 0 0 130px;
}

.title_feeling {
    padding: 0 0 0 247px;
}

.main_title {
    color: #ff7041;
    font-size: 140px;
    background-color: #f4f2ef;
    width: 1040px;
    height: 202px;
    border: solid 3px #ff7041;
    box-shadow: 7px 7px 0px 0 #ff7041;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-left: 184px;
}

.title_idea {
    padding: 15px 0 0 385px;
}

.title_thinking {
    padding: 0 0 0 487px;
}



.kira_orn_solid {
    width: 78px;
    position: absolute;
    top: 136px;
    right: 85px;

}

.kira_orn {
    width: 65px;
    position: absolute;
    top: 190px;
    right: 147px;
}

.kira_orn_2 {
    width: 40px;
    position: absolute;
    top: 513px;
    left: 247px;
}

.kira_wh {
    width: 40px;
    position: absolute;
    top: 175px;
    right: 213px;

}

.kira_wh_solid {
    width: 86px;
    position: absolute;
    top: 450px;
    left: 183px;
}


/* about */

.about_top {
    position: relative;
    width: 900px;
    margin-left: auto;
}

.toge_top {
    width: 900px;
    position: relative;
    padding-top: 130px;
}

.about_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h2 {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    z-index: 1000;

}

.sub_good {
    font-size: 65px;
    color: #f4f2ef;
    -webkit-text-stroke: 1px #344699;
    text-shadow: 5px 5px 0 #344699;
    padding-top: 100px;
}

.sub_about {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 88px;
    padding-bottom: 20px;

}

.name {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #344699;
    font-size: 53px;
    padding-bottom: 30px;

}

.about_top_text > p {
    width: 550px;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    font-size: 20px;
    line-height: 1.35;
    padding-bottom: 20px;
}



.about_btn {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

.viwemore {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    color: #f4f2ef;
    background-color: #ff7041;
    width: 172px;
    height: 47px;
    border-radius: 23.5px;
    border: none;
    position: relative;
    padding-bottom: 7px;
}

/*.arrow{
    position: relative;
  }*/

  .arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 0.3em;   /* arrow size */
    height: 0.3em;  /* arrow size */
    border-top: 2px solid #f4f2ef;
    border-right: 2px solid #f4f2ef;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 13px;
  }
  

.about_top_photo {
    width: 413px;
    position: absolute;
    top: 26%;
    left: 14%;
}

/* SKILL */

.skill {
    padding-top: 95px;
    text-align: center;
    margin: auto;
}

.sub_good_skill {
    font-size: 65px;
    color: #344699;
    -webkit-text-stroke: 1px #f4f2ef;
    text-shadow: 5px 5px 0 #f4f2ef;

}

.sub_skill {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #f4f2ef;
    font-size: 88px;
}

.skill_img {
    position: relative;
}

.naminami {
    width: 259px;
    padding-top: 66px;
}

.desing{
    width: 153px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%,-36%);
    z-index: 1000;
}

.coding {
    width: 147px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%,-31%);
    z-index: 1000;
}

.movie {
    width: 117px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%,-25%);
    z-index: 1000;
}

.skill_title {
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    padding: 30px 0 18px 0;
}

.skill_text {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #f4f2ef;
    font-size: 17px;
    text-align: left;
    width: 337px;
    line-height: 1.35;
}

.skill_content {
    width: 1366px;
    display: flex;
    justify-content: space-around;
}




.switching {
    display: flex;
    justify-content: center;
}

.kira_switching {
    width: 38px;
    padding-top: 80px;
}

/* WORKS */

.works_top {
    width: 1307px;
    position: relative;
    padding-top: 92px;
    text-align: center;
}

.works_contens {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-37%,-252%);
    text-align: center;
}

.moku_top {
    width: 1336px;
    padding: 90px 0 0 55px;
}

.sub_good_works {
    font-size: 65px;
    color: #f4f2ef;
    -webkit-text-stroke: 1px #344699;
    text-shadow: 5px 5px 0 #344699;
}

.sub_works {
    font-size: 88px;
}

.works_img {
    width: 463px;
    display: flex;
    position: absolute;
    padding-top: 100px;
    gap: 100px;
    justify-content: center;
}

.works_img > img{
    width: 463px;
    border-radius: 91px;

}

.works_btn {
    position: absolute;
    top: 85%;
    left: 77%;
}



/* CONTACT */

.contact_top_text {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #f4f2ef;
    font-size: 25px;
    padding-top: 94px;
    text-align: center;
    line-height: 1.2;
}

.contact_btn {
    text-align: center;
    position: relative;
    padding-bottom: 80px;
}

.contact_bg {
    width: 435px;
    padding-top: 36px;
}

.contact_contens {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-73%);
}

.contact_good {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #f4f2ef;
    font-size: 56px;
}

.contact {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #f4f2ef;
    font-size: 70px;
}

.kira_wh_solid_con {
    width: 72px;
    position: absolute;
    left: 316px;
    bottom: 310px;
}

.kira_orn_con {
    width: 43px;
    position: absolute;
    left: 371px;
    bottom: 290px;
}

.kira_wh_con {
    width: 43px;
    position: absolute;
    right: 365px;
    bottom: 200px;
}

.kira_orn_solid_con {
    width: 72px;
    position: absolute;
    right: 310px;
    bottom: 150px;
}

/* フッター */

.footer_menu {
    background-color: #f4f2ef;
    width: 100%;
    height: 87px;
    position: absolute;
    bottom: 0;
    display: flex;
    /*j-content: left;*/
    gap: 44px;
    align-items: center;
    padding-left: 50px;
}

.footer_item {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    color: #344699;
    font-size: 17px;
}
