@charset "utf-8";

body {
    max-width: 1336px;
    background-color: #344699;
    position: relative;
}

.nav_menu {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    justify-content: right;
}

.nav_item {
    padding: 36px 40px 47px 0;
}

.conect {
    font-family: "futura-pt-bold", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    background-color: #ff7041;
    width: 172px;
    height: 47px;
    border-radius: 23.5px;
    margin: 20px 20px 0 0;
    border: none;
}



h1 {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 90px;
    -webkit-text-stroke: 0.5px #f4f2ef;
}

.title_desing{
    padding: 0 0 0 130px;
}

.title_feeling {
    padding: 0 0 0 247px;
}

.main_title {
    color: #ff7041;
    font-size: 140px;
    background-color: #f4f2ef;
    width: 1040px;
    height: 202px;
    border: solid 3px #ff7041;
    box-shadow: 7px 7px 0px 0 #ff7041;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-left: 184px;
}

.title_idea {
    padding: 15px 0 0 385px;
}

.title_thinking {
    padding: 0 0 0 487px;
}

.kira_orn_solid {
    width: 78px;
    position: absolute;
    top: 185px;
    right: 89px;

}

.kira_orn {
    width: 65px;
    position: absolute;
    top: 224px;
    right: 154px;
}

.kira_orn_2 {
    width: 40px;
    position: absolute;
    top: 528px;
    left: 255px;
}

.kira_wh {
    width: 40px;
    position: absolute;
    top: 213px;
    right: 213px;

}

.kira_wh_solid {
    width: 86px;
    position: absolute;
    top: 483px;
    left: 183px;
}




.toge_top {
    width: 850px;
    padding: 100px 0 0 500px;
    position: relative;
}

h2 {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    display: flex;
    justify-content: end;
    z-index: 1000;

}

.sub_good {
    font-size: 65px;
    color: #f4f2ef;
    -webkit-text-stroke: 1px #344699;
    text-shadow: 5px 5px 0 #344699;
    position: absolute;
    top: 900px;
    right: 315px;
}

.sub_about {
    font-family: 'bovine-mvb', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344699;
    font-size: 88px;
    position: absolute;
    top: 963px;
    right: 264px;
}

.name {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #344699;
    font-size: 53px;
    position: absolute;
    top: 1070px;
    right: 245px;
}

.about_top_text {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #344699;
    font-size: 20px;
    position: absolute;
    top: 1440px;
    right: 130px;

}


.about_btn {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 1390px;
    right: 240px;
}

.viwemore {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    color: #f4f2ef;
    background-color: #ff7041;
    width: 172px;
    height: 47px;
    border-radius: 23.5px;
    border: none;
}

.arrow{
    position: relative;
  }
  
  .arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 0.3em;   /* arrow size */
    height: 0.3em;  /* arrow size */
    border-top: 2px solid #f4f2ef;
    border-right: 2px solid #f4f2ef;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  

.about_top_photo {
    width: 413px;
    position: absolute;
    top: 1040px;
    left: 230px;
}
